body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.container{
  width: 1160px;
  margin: 0 auto;
}
.main-header{
  background: #eeeeee;
  padding-top: 50px;
  width:100%;
  text-align: center;
  margin-bottom: 80px;
}
.navigation,
.main-menu{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
}
.headline{
  font-size: 55px;
  line-height: 1;
  padding-bottom: 106px;
  padding-top:30px;
}
.basket{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  padding-top: 10px;
  margin-left: auto;
}
.basket:hover{
  color: #fb565a;
}
.basket:focus{
  color: rgba(0, 0, 0, 0.3);
}
.mini-photo{
  opacity: 0.3;
  padding-right: 27px;
  margin-left: auto;
}
.main-menu{
  display: flex;
  flex-wrap: wrap;
  width: 455px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-left: 201px;
}
.main-menu li:not(:first-child){
  margin-left: 47px;
}
.visually-hidden{
  display: none;
}
.main-nav{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.main-nav:hover{
  color: #fb565a;
}
.main-nav:focus{
  color: rgba(0, 0, 0, 0.3);
}
.shoper{
  display: flex;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  line-height: 32px;
  border-bottom: 2px solid #fb565a;
}
.main-logo:hover{
  opacity:0.8;
}
.main-logo:active{
  opacity: 0.3;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slider{
  margin-bottom: 90px;
  position: relative;
  height: 413px;
  background: #eeeeee;
  text-align: left;
  overflow: auto;
}
.slide{
  position: absolute;
  width: 100%;
  height: 180px;
  display: none;
}
.slider h3{
  margin-top: 70px;
  font-size: 55px;
  line-height: 1;
  margin-bottom: auto;
}
.slider p{
  margin-top:28px;
  width: 409px;
  margin-bottom: 35px;
  min-height: 40px;
}
.slide.active {
  display: block;
}
.slide-photo{
  width:698px;
  height: 403px;
  top:10px;
  left: 23%;
  margin-left: 150px;
  position: absolute;
}
.slider-item-button{
  display: block;
  padding: 14px 2px;
  width:240px;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color:#fb565a;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
}
.slider-item-button:hover{
  background-color: #e74246;
}
.slider-item-button:active{
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}
.controls{
  position: absolute;
  left: 510px;
  top: 295px;
}
.slide-control{
  position: relative;
  vertical-align: baseline;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slide-control::after{
  content:"";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 80;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slide-control::before{
  content:"";
  display: none;
  position: absolute;
  left: 17px;
  top: 50%;
  z-index: 100;
  width: 4px;
  height: 4px;
  margin: -4px;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
}
.slide-control.active::before{
  display:block;
}
.divide {
  width: 1160px;
  height: 2px;
}
.line1{
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
  margin-top:75px;
  border-bottom: #dddddd solid 2px;
  margin-top: 75px;
  margin-bottom: 40px;
}
.line2{
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
  margin-top:75px;
  border-bottom: #dddddd solid 2px;
  margin-top: 65px;
  margin-bottom: 62px;
}
.line3{
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
  margin-top:75px;
  border-bottom: #dddddd solid 2px;
  margin-top:45px;
  margin-bottom:80px;
}
.inner-columns{
  display: flex;
  justify-content: space-between;
}
.inner-column-left{
  width:650px;
}
.product-logo{
  display: inline-block;
  padding: 0px 40px;
  vertical-align: middle;
  padding-left: 46px;
}
.product-logo:not(:last-child) {
  border-right: 1px solid #ececec;
}
.product-logo img{
  opacity: 0.3;
}
.product-logo img:hover,
.product-logo img:focus{
  opacity: 1;
}
.product-logo img:active{
  opacity: 0.1;
}
.right-info-column{
  display: flex;
  flex-direction: column;
  margin-right:15px;
  font-weight: normal;
  line-height: 1.13;
}
.right-info-column strong{
  font-weight: bold;
  font-size: 45px;
  text-align: left;
  margin-right: 35px
}
.right-info-column strong:last-child{
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}
.infocontainer{
  display: flex;
}
.infocontainer span:last-child{
  text-align: left;
}
.infocontainer b{
  position: relative;
  left:77px;
  bottom:35px;
  font-size: 25px;
}
.infocontainer .last-teg-b{
  position: relative;
  left:60px;
  bottom:35px;
}
.right-info{
  font-weight: bold;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 36px;
  text-transform: uppercase;
}
.infocontainer2{
  display:flex;
  flex-direction: column;
  padding-top: 0;
  margin-left:10px;
}
.inner-column-right{
  width:360px;
}
.inner-column-left h3{
  font-size: 45px;
  line-height: 1;
  width:650px;
  margin-top:37px;
  margin-left:2px;
  margin-bottom:30px;
}
.nerds-info{
  margin-bottom: auto;
}
.column-left-text{
  margin-top:40px;
  text-transform: uppercase;
}
.product-header{
  display: block;
  border-radius: 5px 5px 0 0;
  width: 358px;
  height: auto;
  padding-bottom: 5px;
  background-color: #4d4d4d;
  opacity: 0.12;
  position: relative;
  top:1px;
  left:1px;
}
.web-sites{
  width: 300px;
  height: 146px;
  background-image: url(/img/product-1.jpg);
  background-color: red;
}
.applications{
  background-image: url(/img/product-2.jpg);
  background-color: green;
  width: 300px;
  height: 146px;
}
.presentation{
  background-image: url(/img/product-1.jpg);
  background-color: yellow;
  width: 300px;
  height: 146px;
}
.product-item:hover .product-header{
  opacity: 1;
}
.dotes{
  vertical-align: baseline;
  width:15px;
  height:15px;
  margin-top:10px;
  margin-right:8px;
  display: inline-block;
  border-radius:50%;
  background-color: white;
}
.dotes:first-child{
  margin-left:14px;
}
.nerds-info::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color:  #fb565a;
  position: relative;
  top:-5px;
}
.nerds-info::before{
  margin-left:4px;
  left: -14px
}
.modal{
  position: fixed;
  color: #000000;
  background-color: #f8f3f0;
  background-position: 0 0;
}
.form input{
  width: 360px;
  height:40px;
  border-radius:5px;
  border:2px solid #d7dcde;
  margin-top: 7px;
  margin-right:40px;
}
input::-ms-clear {
  display: none;
}
.form textarea{
  width:760px;
  height: 118px;
  border-radius:5px;
  border:2px solid #d7dcde;
  margin-bottom: 66px;
  margin-top:7px;
}
.form textarea:hover{
  border: solid 2px #b4b9bb;
}
.form textarea:focus{
  border: solid 2px #000000;
}
.form label{
  font-weight: bold;
}
.pop-up{
  z-index: 3;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  top: 200px;
  left: 50%;
  display: none;
  width: 750px;
  margin-left: -460px;
  padding: 38px 105px;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
.mex{
  display: flex;
}
.modal-close{
  position: absolute;
  top: 100px;
  right: 80px;
  opacity:0.3;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close:hover,
.modal-close:focus{
  opacity: 1;
}
.modal-close:active{
  opacity:0.1;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 2px;
  width: 30px;
  height: 4px;
  background-color: red;
}
.modal-close::before{
  transform: rotate(45deg);
}
.modal-close::after{
  transform: rotate(-45deg);
}
.pop-upitem{
  margin-bottom: 20px;
  margin-top: 10px;
}
.pop-upitem label{
  padding-bottom: 5px;
}
.pop-upmessadge{
  margin-bottom: 10px;
}
.pop-upmessadge input[type="text"]{
  box-sizing: border-box;
  width: 300px;
  font: inherit;
}
.pop-up-messadge{
  padding:10px;
  resize: none;
}
.modal h3{
  font-size: 45px;
  margin-top:60px;
}
.pop-upname{
  margin-left: 40px;
}
.name{
  padding-left: 10px;
}
.e-mail{
  padding-left: 10px;
}
.pop-upemail{
  margin-top:160px;
  padding-left: 40px;
}
.inner-map{
  text-align: center;
  position: relative;
}
.addr{
  font-style: normal;
  width: 210px;
  height:71px;
  margin-bottom: 45px;
  margin-left:51px;
}
.modal-map{
  position: absolute;
  overflow: auto;
  left: 252px;
  top:50px;
  width: 319px;
  height: 308px;
  background-color: white;
}
.modal-map iframe{
  position: relative;
  z-index: 2;
  border: none;
}
.info-nerds-modal{
  z-index: 4;
  padding-top: 30px;
  line-height: 1.67;
  font-size: 18px;
}
.write{
  width:220px;
  display: block;
  padding: 14px 2px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color:#fb565a;
  border: none;
  margin-left:51px;
  margin-top: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.write:hover{
  background-color: #e74246;
}
.write:active{
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}
.marker{
  position: absolute;
  bottom:190px;
  left:940px;
}
.services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background-color: white;
}
.service-item{
  margin-left: 100px;
  width:300px;
  font-weight: normal;
}
.services p{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 18px;
}
.product-info {
  position: absolute;
  padding-top:20px;
  text-align: center;
  background: #ececec;
  width: 100%;
  height:175px;
}
.sell{
  display: block;
  line-height: 1.13;
  padding: 16px 6px;
  width:200px;
  margin-left: 80px;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  background-color:#fb565a;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
}
.sell:hover{
  background-color: #e74246;
}
.sell:active{
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}
.product-description{
  margin-top:10px;
  margin-bottom:40px;
  width:100%;
  height: 34px;
}
.product-item:hover .product-info{
  bottom: 0;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 60px;
}
p.product-text{
  width: 244px;
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: #283136;
}
.product-text-catalog{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  color:black;
  font-size: 18px;
}
.product-item{
  position: relative;
  overflow: hidden;
  height: 576px;
	width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
  flex: 0 0 360px;
  padding-top:0px;
}
.product-item:nth-child(2n){
  margin-right: 0;
}
.btn{
  width: 200px;
  height:50px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  outline: none;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}
.button-form{
  position: relative;
  top:-43px;
  width: 260px;
}
button.btn:hover,
button.btn:focus{
  background-color: #e74246;
}
button.btn:active{
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}
.button1{
  display: block;
  padding: 14px 2px;
  width:160px;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color:#fb565a;
  border: none;
  margin-top: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.button2{
  display: block;
  padding: 14px 2px;
  width:160px;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color:#00ca74;
  border: none;
  margin-top: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.button3{
  width:160px;
  display: block;
  padding: 14px 2px;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color:#efc84a;
  border: none;
  margin-top: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.button1:hover{
  background-color: #e74246;
}
.button1:active{
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}
.button2:hover{
  background-color: #00bc6c;
}
.button2:active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.button3:hover{
  background-color:#eab534;
}
.button3:active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.filter-button{
  width: 260px;
  line-height: 1.13;
}
.btn.filter-button:hover,
.btn.filter-button:focus{
  background-color: #dfdfdf;
}
.btn.filter-button:active{
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
input:focus{
  border: solid 2px #000000;
}
input:hover{
  border: solid 2px #b4b9bb;
}
input:invalid{
  color:#e74246;
  border: solid 2px #e74246;
}
.main-footer,
.footer-section{
  display: flex;
}
.main-footer{
  margin-top: 30px;
}
.footer-menu{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  list-style: none;
  margin-right: auto;
}
.footer-menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:260px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.social-button:hover,
.social-button:focus{
  background-color: #e74246;
}
.social-button:active path{
  opacity:0.3;
  background-color: #d7373b;
}
.footer-menu li:not(:first-child){
  margin-right: 11px;
}
.social-button{
  display: flex;
  width: 79px;
  height: 79px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.maps{
  width:100%;
  height:416px;
  border:0;
  background-image: url(/img/map.jpg);
  background-color: #c7b39b; /* Цвет фона */
}
.social-item{
  margin-right: 11px;
}
.text-container{
  padding-left: 0;
  height:65px;
  margin-bottom: 75px;
}
p.footer-text{
  width: 570px;
  height: 35px;
  text-align: left;
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: 200px;
}
b.discount{
  text-align: right;
  font-weight: normal;
  line-height: 1.38;
  width: 345px;
  height: 16px;
}
.catalog-columns{
  display: flex;
  justify-content: space-between;
}
.filter{
  flex: 0 0 261px;
}
.filters{
  margin-top: 27px;
  padding-right: 120px;
}
.grid{
  margin-top:62px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
}
.grid-list{
  margin-top: auto;
  width: 119;
  height:93px;
  margin-bottom: 25px;
}
.features{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
}
.filter fieldset{
  border: none;
  margin:0;
}
.ul-filter{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
}
.filter-option {
  margin-bottom: 25px;
  color:#283136;
}
.filter-input:disabled + label{
  color:rgba(40, 49, 54, 0.3);
  opacity: 0.5;
}
.filter-button{
  font-weight: bold;
  color:black;
  background-color:#eeeeee;
  border: none;
}
.filter-option label{
  position: relative;
  display: block;
  padding-left:35px;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left:0;
  top: 0;
  opacity: 0.3;
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border:2px solid black;
}
.filter-input-checkbox + label:hover::before{
  opacity: 1;
}
.filter-input-checkbox:checked + label::before{
  opacity: 0;
}
.filter-input-checkbox:checked + label::after{
  content:" ";
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.3;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
:active, :hover, :focus{
  outline: 0;
  outline-offset: 0;
}
.filter-input-checkbox + label:hover::after{
  opacity:1;
}
.filter-input-checkbox:hover:checked::before{
  opacity:1;
}
.filter-input-radio + label::before{
  content:" ";

  position: absolute;
  left: 0;
  top: -1px;
  opacity: 0.3;
  width: 16px;
  height: 16px;
  border: 4px solid #000000;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after{
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  opacity: 0.3;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}
.filter-input-radio + label:hover::after{
  opacity: 1;
}
.filter-input-radio + label:hover::before{
  opacity: 1;
}
.filter-input:disabled + label{
  color: #000000;
  opacity: 0.3;
}
.catalog{
  flex: 0 0 760px;
  flex-wrap: wrap;
}
.sorts{
  margin-bottom: 60px;
}
.sort{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  width: 620px;
  height:24px;
  overflow: auto;
  margin-left:auto;
}
.fix-up{
  display: flex;
  justify-content: flex-end;
  vertical-align: baseline;
  margin-top: -19px;
  margin-bottom: 60px;
  height: 20px;
}
.first{
  margin-left: 26px;
}
.sort-item{
  margin-left:26px;
  opacity: 0.3;
}
.sort-item:last-child{
  margin-right:26px;
}
.sort-main{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: -22px;
}
.act{
  opacity: 1;
}
.down{
  margin-left:30px;
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  border-top: 11px solid black;
  opacity: 1;
}
.up{
  margin-left: 16px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  border-top: 11px solid black;
  transform: rotate(180deg);
  opacity: 0.3;
}
.sort a{
  font-size: 14px;
  color:black;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  list-style: none;
  text-decoration:none;
}
.sort-item:hover{
  opacity:0.6;
}
.sort-item:active,
.sort-item:focus{
  opacity:1;
}
.up:hover{
  opacity:0.6;
}
.up:active,
.up:focus{
  opacity:1;
}
.pagination-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 47px;
}
.pagination-item{
  font-weight: bold;
  margin-right: 11px;
}
.pagination-item:last-child{
  margin-right: 0;
}
.pagination-item a{
  display: block;
  padding: 10px 19px;
  color: #000000;
  text-decoration: none;
  background-color: #eeeeee;
  margin-bottom: 60px;
}
.pagination-item a:hover,
.pagination-item a:focus{
  background-color: #dfdfdf;
}
.pagination-item:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
.pagination-item-current a{
  color: #000000;
  box-shadow:0px 0px 0px 3px #dbdbdb inset;
  background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
  color: #000000;
  box-shadow:0px 0px 0px 3px #dbdbdb inset;
  background-color: #ffffff;
}
.last{
  width: 260px;
  height: 50px;
  text-align: center;
  text-transform: uppercase
}
.filter-item{
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}
.range-filter{
  width: 260px;
  margin-top: 49px;
}
.filter-item legend{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls{
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale{
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar{
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min{
  left: 50px;
}
.range-controls .toggle-max{
  left: 110px;
}
.price-controls{
  font-size: 0;
}
.price-controls label{
  display: inline-block;
  vertical-align: baseline;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input{
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price{
  text-align: right;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
