body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.main-header {
  background: #eeeeee;
  padding-top: 50px;

  text-align: center;

}
.container {
  width: 1160px;
  margin: 0 auto;

}


.navigation,
.main-menu{
  display: flex;

  align-items: center;
  justify-content: flex-start;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
}

.headline{
  font-size: 55px;
  line-height: 1;
}

.basket{
  padding-top: 10px;
  margin-left: auto;
}
.mini-photo{
  opacity: 0.3;
  padding-right: 27px;
  margin-left: auto;
}

.main-menu{
  width: 100%;
  max-width: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-left: 201px;
}
.main-menu li:not(:first-child) {
  margin-left: 47px;
}
.visually-hidden{
  display: none;
}

.navigation a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.navigation a:hover {
  color: #fb565a;
}
.navigation a:focus{
  color: rgba(0, 0, 0, 0.3);
}
.shoper{
  display: table;

  line-height: 32px;
  border-bottom: 2px solid #fb565a;
}

.main-logo:active{
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  height: 413px;
  background: #ececec;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100;
  display: none;
}
.slider h3{
  font-size: 55px;
  line-height: 1;
}
.slide.active {
  display: block;
}
.slide-photo{
  top:10px;
  left: 23%;

  position: absolute;
}
.slider-item-button{
  top: 300px;
  position: absolute;
}
.controls{
  position: absolute;
  left: 900px;
  top: 300px;
}

.slide-control{
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slide-control::after{
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 80;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}
.slide-control .acti::before{
  content: "";

  position: absolute;
  left: 17px;
  top: 50%;
  z-index: 100;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid red;
  border-radius: 50%;
}


.divide {
  width: 1160px;
  height: 2px;
}

.line1{
  margin-top: 80px;
  margin-bottom: 80px;
}
.line2{
  margin-top: 76px;
  margin-bottom: 62px;
}
.line3{
  margin-top:45px;
  margin-bottom:80px;
}
.inner-columns {
  display: flex;
  justify-content: space-between;


  margin: 60px 0;

  outline: 3px solid black;
  outline-offset: 2px;
}
.inner-column-left,
.inner-column-right {

  outline: 3px solid red;
  outline-offset: -2px;
}
.inner-column-left{

  width:650px;
}
.product-logo {

  display: inline-block;
  padding: 0px 40px;
  vertical-align: middle;
  }

.product-logo:not(:last-child) {

  border-right: 1px solid #ececec;;
  }
.product-logo img{

  opacity: 0.3;
  }
.product-logo img:hover,
.product-logo img:focus{
  opacity: 1;
  }
.right-info-column{
margin-right: 26px;
font-weight: normal;
margin-right: auto;
}
.right-info-column strong{
  font-weight: bold;
  font-size: 45px;
}
.infocontainer{
display: flex;
text-align: center;

}
.right-info{
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 42px;
  text-transform: uppercase;

}
.infocontainer2{
  display:flex;
  flex-wrap: wrap;
  margin-left:10px;

}

.inner-column-right{
  width:360px;

}
.inner-column-left h3{
  font-size: 45px;
  line-height: 1;
  width:650px;

}

.nerds-info{
  margin-right: 30px;

}
.column-left-text{
  text-transform: uppercase;
}

.product-header{
  width: 360px;
  height: 40px;
  background-color: white;
  opacity: 0,6;
}
.product-header-photo{
  opacity: 0.12;
}
.product-item:hover .product-header-photo,
.product-item:focus .product-header-photo{
  opacity: 1;
}

.nerds-info::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color:  #fb565a;
  position: relative;


}
.nerds-info::before{
  margin-left: 2px;
  left: -14px

}
.modal{
  position: fixed;

  color: #000000;
  background-color: #f8f3f0;
  background-position: 0 0;

}

.form input{
  width: 340px;
  height:40px;
  border-radius:5px;
  border:2px solid #d7dcde;
}
.form textarea {
  border-radius:5px;
  border:2px solid #d7dcde;
}

.pop-up{
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  top: 200px;
  left: 50%;
  display: none;
  width: 750px;
  margin-left: -460px;
  padding: 50px 80px;
}
.modal-show {
  display: block;
}
.mex{
  display: flex;
}
.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  opacity:0.3;
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}
.modal-close:hover,
.modal-close:focus{
  opacity: 1;
}
.modal-close:active{
  opacity:0.1;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 2px;

  width: 19px;
  height: 3px;

  background-color: red;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.pop-upitem{
  margin-bottom: 61px;
}
.pop-upmessadge input[type="text"]{
  box-sizing: border-box;
  width: 300px;


  font: inherit;
}
.modal h3{
  font-size: 45px;
}
.pop-upname{

  margin-left: 40px;
}
.pop-upemail{
  margin-top:180px;
  padding-left: 40px;
}
.inner-map{
  text-align: center;
  position: relative;

}
.modal-map{

  position: absolute;
  left: 140px;
  top:50px;
  width: 319px;
  height: 308px;
  background-color: white;

}
.addr{

  padding-bottom: 20px;

}
.info-nerds-modal{
  padding-top: 35px;
}


.tel{
  padding-top:10px;
}
.marker{
  position: absolute;
  bottom:140px;
  right:560px;
}
.services{
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin-left: 140px;
  margin-right: 200px;
  list-style: none;
  background-color: white;
}
.service-item{
  margin-left: 100px;
  width:300px;
}
.services p{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
b.product-text{
  font-weight: normal;
}
.product-info {
  position: absolute;

  left: 0;
  text-align: center;
  background: #ececec;
  width: 100%;
  height:230px;

  }

  .product-item:hover .product-info {
  bottom: 0;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 60px;
}
p.product-text{
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;

}


.product-item {
  position: relative;
  overflow: hidden;
  height: 576px;
	width: 360px;
    margin-bottom: 33px;
    /* margin-left смотрите по макету */
   margin-right: 40px;
    flex: 0 0 360px;
    padding-top:0px;
}
.product-item:nth-child(2n) {
  margin-right: 0;
}


.btn{

  font: inherit;
  width: 200px;
  height:50px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}
.button-form{
  width: 260px;
}
button.btn:hover,
button.btn:focus {
  background-color: #e74246;
}
button.btn:active{
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}

.button1{
  width:160px;
  margin-top: 35px;
}
.button2{
  width:160px;
  margin-top: 35px;
}
.button3{
  width:160px;
  margin-top: 35px;
}

button.button2{
  background-color:#00ca74
  ;
  border: none;
}
button.button2:hover,
button.button2:focus {
  background-color: #00bc6c;
}
button.button2 :active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}
button.button3{
  background-color: #efc84a;
  border: none;
}
button.button3:hover,
button.button3:focus {
  background-color:#eab534;
}
button.button3 :active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}
.filter-button{
  width: 260px;
}
.btn.filter-button:hover,
.btn.filter-button:focus {
  background-color: #dfdfdf;
}
.btn.filter-button:active{
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}



input:focus{
  border-color: #b4b9bb;
}
input:hover{
  border-color: #000000;
}
input:active{
  border-color: #e74246;
}

.main-footer,
.footer-section{
  display: flex;
}
.main-footer{
  margin-top:70px;
}
.footer-menu{
  display: flex;

  align-items: baseline;
  list-style: none;
  width: 79px;
  height: 79px;
  Margin-right: auto;

}
.footer-menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:273px;
  list-style: none;
  margin: 0 auto;
  padding: 0;

}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path{
  opacity:0.3;
  background-color: #d7373b;
}

.footer-menu li:not(:first-child){
  margin-right: 11px;
}
.social-button {
  display: flex;
  width: 79px;
  height: 79px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-item{
  margin-right: 11px;
}
.text-container{
  margin-left: 139px;
  margin-bottom: 75px;
}
p.footer-text{
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 12px;
}
b.discount{
  font-weight: normal;
}

.catalog-columns {
	display: flex;

  justify-content: space-between;
}
.filter {

  flex: 0 0 261px;

}
.filters{
  margin-top: 27px;
  padding-right: 140px;
}
.grid-list{
  margin-top: auto;
  width: 119;
  height:93px;
  margin-bottom: 57px;
}



.filter p{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 27px;

}
.filter fieldset {
  border: none;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;

}
.filter-option {
  margin-bottom: 30px;

  color:#283136;
}


.filter-input:disabled + label{
  color:rgba(40, 49, 54, 0.3);

  opacity: 0.5;
}

.filter-button{
  font-weight: bold;
  color:black;
  background-color:#eeeeee;
  border: none;
}
.filter-option label {
  position: relative;

  display: block;
  padding-left:35px;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  opacity: 0.3;
  width: 19px;
  height: 19px;

  border-radius: 4px;
  border:2px solid black;

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.3;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox + label:hover::after {
  opacity:1;
  }
.filter-input-checkbox + label:hover::before {
  opacity:1;
  }
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  opacity: 0.3;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 6px;
  opacity: 0.3;
  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}
.filter-input-radio + label:hover::after {
  opacity: 1;
}
.filter-input-radio + label:hover::before {
  opacity: 1;
}






.catalog {
	/* 1160px - 286px */
  flex: 0 0 760px;
  flex-wrap: wrap;


}
.sort{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.sort-item{

  margin-left:26px;
  opacity: 0.3;
}
.sort-main{
  font-size: 18px;
  font-weight: bold;

  margin-right: auto;
}
.down{

  margin-left:48px;
  margin-right:18px;
  margin-bottom:60px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 11px solid black;
  opacity: 0.3;

}
.up{
  margin-bottom:60px;
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-bottom: 11px solid black;
  opacity: 0.3;
}
.sort a{
  font-size: 14px;
  color:black;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  list-style: none;
  text-decoration:none;
}
.sort a:hover{
  opacity:0.6;
}

.sort a:active,
.sort a:focus{
  opacity:1;
}



.pagination-list {
  display: flex;
  flex-wrap: wrap;


    padding: 0;
    margin: 0;

    list-style: none;

    /* Временно для сетки */
    min-height: 47px;
  }
.pagination-item {
    font-weight: bold;
    margin-right: 11px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a {
  display: block;
  padding: 10px 19px;
  color: #000000;
  text-decoration: none;
  background-color: #eeeeee;
}
.pagination-item a:hover,
.pagination-item a:focus{
  background-color: #dfdfdf;
}
.pagination-item a:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
.pagination-item-current a{
  color: #000000;

  box-shadow:0px 0px 0px 3px #dbdbdb inset;

  background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
  color: #000000;
  box-shadow:0px 0px 0px 3px #dbdbdb inset;
  background-color: #ffffff;
}
.btn.last{
  font-weight: bold;
  color:black;
  background-color: #eeeeee;
}
.btn.last:hover,
.btn.last:focus {
  background-color: #dfdfdf;
}
.btn.last:active{
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.range-filter {
  width: 260px;
  margin-top: 49px;

}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-flex;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}




