body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.main-header {
  background: #eeeeee;
  padding-top: 50px;
  margin-bottom:140px;
  text-align: center;
  padding-bottom: 116px;
}
.container {
  width: 1160px;
  margin: 0 auto;

}


.navigation,
.main-menu{
  display: flex;
  margin-bottom: 66px;
  align-items: center;
  justify-content: flex-start;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
}

.headline{
  font-size: 55px;
  line-height: 1;
}

.basket{
  padding-top: 10px;
  margin-left: auto;
}
.mini-photo{
  opacity: 0.3;
  padding-right: 27px;
  margin-left: auto;
}

.main-menu{
  width: 100%;
  max-width: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-left: 201px;
}
.main-menu li:not(:first-child) {
  margin-left: 47px;
}
.visually-hidden{
  display: none;
}

.navigation a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.navigation a:hover {
  color: #fb565a;
}
.navigation a:focus{
  color: rgba(0, 0, 0, 0.3);
}
.shoper{
  display: table;

  line-height: 32px;
  border-bottom: 2px solid #fb565a;
}

.main-logo:active{
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}



.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid red;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

}

.slider-item:nth-child(3) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("/img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("/img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("/img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;

}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.divide {
  width: 1160px;
  height: 2px;
}
.pop-up{
  position: fixed;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}
.inner-columns {
  display: flex;


  margin: 60px 0;

  outline: 3px solid black;
  outline-offset: 2px;
}
.inner-column-left,
.inner-column-right {

  outline: 3px solid red;
  outline-offset: -2px;
}
.inner-column-left{
  width:650px;
}

.inner-column-right{


  width:360px;
}
.inner-column-left h3{
  font-size: 45px;
  line-height: 1;
  width:650px;

}

.nerds-info{
  font-weight: normal;
  margin-bottom: 20px;
}



.nerds-info::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color:  #fb565a;
  position: relative;


}
.nerds-info::before{
  margin-left: 2px;
  /* Указываем в пикселях отступ линии от текста заголовка */
  left: -14px

}




.services{
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin-left: 140px;
  margin-right: 200px;
  list-style: none;
  background-color: white;
}
.service-item{
  margin-left: 100px;
  width:300px;
}
.services p{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
b.product-text{
  font-weight: normal;
}
.product-info {
  position: absolute;

  left: 0;
  text-align: center;
  background: #ececec;
  width: 100%;
  height:230px;

  }

  .product-item:hover .product-info {
  bottom: 0;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 60px;
}
p.product-text{
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;

}
.product-heder span{
  font-size: 500px;
}

.product-item {
  position: relative;
  overflow: hidden;
  height: 576px;
	width: 360px;
    margin-bottom: 33px;
    /* margin-left смотрите по макету */
   margin-right: 40px;
    flex: 0 0 360px;
}
.product-item:nth-child(2n) {
  margin-right: 0;
}


.btn{

  font: inherit;
  width: 200px;
  height:50px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;

  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}
.button-form{
  width: 260px;
}
button.btn:hover,
button.btn:focus {
  background-color: #e74246;
}
button.btn:active{
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-color: #d7373b;
}

.button1{
  width:160px;
  margin-top: 35px;
}
.button2{
  width:160px;
  margin-top: 35px;
}
.button3{
  width:160px;
  margin-top: 35px;
}

button.button2{
  background-color:#00ca74
  ;
  border: none;
}
button.button2:hover,
button.button2:focus {
  background-color: #00bc6c;
}
button.button2 :active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}
button.button3{
  background-color: #efc84a;
  border: none;
}
button.button3:hover,
button.button3:focus {
  background-color:#eab534;
}
button.button3 :active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}
.filter-button{
  width: 260px;
}
.btn.filter-button:hover,
.btn.filter-button:focus {
  background-color: #dfdfdf;
}
.btn.filter-button:active{
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}



input:focus{
  border-color: #b4b9bb;
}
input:hover{
  border-color: #000000;
}
input:active{
  border-color: #e74246;
}

.main-footer,
.footer-section{
  display: flex;
}
.footer-menu{
  display: flex;

  align-items: baseline;
  list-style: none;
  width: 79px;
  height: 79px;
  Margin-right: auto;

}
.footer-menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:273px;
  list-style: none;
  margin: 0 auto;
  padding: 0;

}
.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active path{
  opacity:0.3;
  background-color: #d7373b;
}

.footer-menu li:not(:first-child){
  margin-right: 11px;
}
.social-button {
  display: flex;
  width: 79px;
  height: 79px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-item{
  margin-right: 11px;
}
.text-container{
  margin-left: 139px;
  margin-bottom: 75px;
}
p.footer-text{
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 12px;
}
b.discount{
  font-weight: normal;
}

.catalog-columns {
	display: flex;

  justify-content: space-between;
}
.filter {

  flex: 0 0 261px;

}
.filters{
padding-right: 140px;
}
.grid-list{
  margin-top: auto;
  width: 119;
  height:93px;
  margin-bottom: 57px;
}



.filter p{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 27px;

}
.filter fieldset {
  border: none;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;

}
.filter-option {
  margin-bottom: 30px;

  color:#283136;
}


.filter-input:disabled + label{
  color:rgba(40, 49, 54, 0.3);

  opacity: 0.5;
}

.filter-button{
  font-weight: bold;
  color:black;
  background-color:#eeeeee;
  border: none;
}
.filter-option label {
  position: relative;

  display: block;
  padding-left:35px;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  opacity: 0.3;
  width: 19px;
  height: 19px;

  border-radius: 4px;
  border:2px solid black;

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.3;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox + label:hover::after {
  opacity:1;
  }
.filter-input-checkbox + label:hover::before {
  opacity:1;
  }
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  opacity: 0.3;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 6px;
  opacity: 0.3;
  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}
.filter-input-radio + label:hover::after {
  opacity: 1;
}
.filter-input-radio + label:hover::before {
  opacity: 1;
}






.catalog {
	/* 1160px - 286px */
  flex: 0 0 760px;
  flex-wrap: wrap;


}


.pagination-list {
  display: flex;
  flex-wrap: wrap;


    padding: 0;
    margin: 0;

    list-style: none;

    /* Временно для сетки */
    min-height: 47px;
  }
.pagination-item {
    font-weight: bold;
    margin-right: 11px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a {
  display: block;
  padding: 10px 19px;
  color: #000000;
  text-decoration: none;
  background-color: #eeeeee;
}
.pagination-item a:hover,
.pagination-item a:focus{
  background-color: #dfdfdf;
}
.pagination-item a:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
.pagination-item-current a{
  color: #000000;

  box-shadow:0px 0px 0px 3px #dbdbdb inset;

  background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
  color: #000000;
  box-shadow:0px 0px 0px 3px #dbdbdb inset;
  background-color: #ffffff;
}
.btn.last{
  font-weight: bold;
  color:black;
  background-color: #eeeeee;
}
.btn.last:hover,
.btn.last:focus {
  background-color: #dfdfdf;
}
.btn.last:active{
  color:rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.range-filter {
  width: 260px;
  margin-top: 49px;

}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-flex;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}




